.venv
.env

mlruns
/transform_data.csv
/house_rent_dataset.csv
/airflow/logs/
airflow/dags/data_staging/extract/house_rent_dataset.csv
airflow/dags/data_staging/transform/transform_house_rent_dataset.csv
